*{
   font-size: 11px;
}
nav .menu {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
main {
    width: 100%;
    height: 88vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: aliceblue;
}
.con {
    animation: aayush 8s infinite linear;
    width: 100%;
    height: 50vh;
    padding-left: 36%;
    padding-top: 8%;
    font-size: 9px;
    font-weight: bold;
}
button {
    width: 30%;
    border-radius: 6px;
    border-style: solid;
    height: 30px;
}
h1{
    font-size: 10px ;
}
#gallery {
    color: #00b894;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.hello1 img {
    /* width: 77%; */
    height: 36vh;
    padding-top: 32px;
    padding-left: 16px;
}
.hello img {
    /* width: 77%; */
    height: 36vh;
    padding-top: 32px;
    padding-left: 16px;
}#Gallery {
    color: #00b894;
    letter-spacing: 0px;
}
.section1 h3 {
    font-size: 15px;
    /* font-weight: 300; */
    letter-spacing: 0px;
    text-transform: uppercase;
}
.section1 h1 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-weight: 800; */
    text-transform: uppercase;
}
